{% extends 'base.html' %}
{% block about %}

<div class="jumbotron pricing-jumbotron"
    style=" background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/static/images/img4.jpg);height: 380px;">
    <div class="container">
        <center>
            <h1 class="display-3">Who We & <span style="color: #99ff00;"> Are ?</span></h1>
            <p style="color: white;">Vier Node stands out as the ultimate coworking solution for many reasons.
                Our prime location in the heart of the city offers convenience and accessibility. We offer competitive
                pricing and flexible plans to accommodate different budgets and working styles. Step into our modern and
                inspiring workspace environment, carefully designed to inspire creativity and productivity. With
                extensive amenities and services at your fingertips, you can focus on what matters most—your work.
                Engage with our dynamic community and seize networking opportunities that can fuel your success. And
                rest assured, our dedicated staff is here to support your needs and ensure a seamless coworking
                experience.
            </p>
        </center>
    </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++    value section  ++++++++++++++++++++++++++++++++++++ -->


<div class="container">
    <div class="row mb-3 " style="margin-top: 50px;">
        <div class="col-4 themed-grid-col" style="font-size: 100px; color: #303030;">
            <center><i class="fas fa-sharp fa-regular fa-bullseye"></i></center>
        </div>
        <div class="col-6 themed-grid-col">
            <h4 style="padding-top: 30px; ">Our Mission</h4>
            <p>our mission is to create a vibrant and supportive community where professionals from diverse backgrounds
                can connect, collaborate, and thrive. We believe that by fostering a sense of belonging and encouraging
                meaningful interactions, we can unlock the collective potential of our members. Through networking
                events, workshops, and community-building activities, we aim to create an environment that inspires
                creativity, fuels innovation, and facilitates the growth of each individual.</p>
        </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row mb-3 " style="margin-top: 50px;">
        <div class="col-4 themed-grid-col" style="font-size: 100px; color: #303030;">
            <center><i class="fas fa-sharp fa-regular fa-eye-low-vision"></i></center>
        </div>
        <div class="col-6 themed-grid-col">
            <h4 style="padding-top: 30px; ">Our Vision</h4>
            <p>Our vision at Vier Node is to foster a culture of collaboration and innovation that propels
                businesses and professionals forward. We envision a dynamic and inclusive workspace where diverse
                talents come together to exchange ideas, share knowledge, and collaborate on projects. By providing an
                environment that encourages cross-pollination of ideas and sparks creativity, we aim to be the catalyst
                for groundbreaking innovations and transformative solutions.</p>
        </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row mb-3 ">
        <div class="col-4 themed-grid-col" style="font-size: 100px; color: #303030;">
            <center><i class="fa-solid fa-code"></i></i></center>
        </div>
        <div class="col-6 themed-grid-col">
            <h4 style="padding-top: 30px; ">Our Core Value</h4>
            <p style="margin-bottom: 100px;">At Vier Node, we believe in the power of community and exellance. We value
                inclusivity, collaboration, and building meaningful connections among our members. We foster a
                supportive and welcoming environment where everyone feels a sense of belonging and can thrive both
                professionally and personally. We encourage our members to engage, network, and collaborate, creating a
                vibrant community that supports each other's success.</p>
        </div>
    </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++++    album section   ++++++++++++++++++++++++++++++++++++ -->


<div class="album py-5 bg-body-tertiary" style="background-color: #303030;">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm" style="background-color: transparent; border: 2px solid #99ff00;">
                    <img src="/static/images/img17.jpg" alt="">
                    <div class="card-body">
                        <h5 style="color: #99ff00;">Meeting Room</h5>
                        <p class="card-text" style="color: white;">At Vier Node, we understand the importance
                            of having a professional and conducive space for meetings, presentations, and collaborative
                            sessions. That's why we offer a range of thoughtfully designed meeting rooms that cater to
                            the diverse needs of our members. Whether you're hosting a small team meeting, conducting
                            client presentations, or brainstorming with colleagues, our meeting rooms provide the
                            perfect setting to bring your ideas to life.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class=" login-btn" style="width: 100px;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: transparent; border: 2px solid #99ff00;">
                    <img src="/static/images/img13.jpg" alt="">
                    <div class="card-body">
                        <h5 style="color: #99ff00;">Dedicated Desk</h5>
                        <p class="card-text" style="color: white;">At Vier Node, we understand the importance
                            of having a dedicated space to call your own. That's why we offer dedicated desks that
                            provide a personalized and productive workspace for professionals like you. Whether you're a
                            freelancer, entrepreneur, or remote worker, our dedicated desks offer the perfect balance of
                            privacy, flexibility, and community interaction. With a dedicated desk at Vier Node, you'll
                            enjoy a personalized workspace designed to meet your specific requirements.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class=" login-btn" style="width: 100px;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: transparent; border: 2px solid #99ff00;">
                    <img src="/static/images/img11.jpg" alt="">
                    <div class="card-body">
                        <h5 style="color: #99ff00;">Dedicated Chair</h5>
                        <p class="card-text" style="color: white;">Our dedicated chairs are designed with ergonomic
                            principles in mind. They feature adjustable height, lumbar support,
                            allowing you to find the perfect position that promotes good posture and reduces the risk of
                            discomfort or strain. We prioritize your well-being and aim to provide a chair that adapts
                            to your body's natural alignment, allowing you to work comfortably for extended periods. A
                            comfortable chair plays a crucial role in enhancing productivity and focus.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class=" login-btn" style="width: 100px;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock about %}